<footer>
    <div class="footer footer-custom pb-2 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center text-light">
                        <p class="lead">Mail Encryption Key</p>
                        <p><i class="fas fa-lock a-icons"></i> 28 FD DE F8 6D A4 24 4A CC C0 A4 FE 3B 31 6F 26</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center text-light">
                        <p class="lead">İletişim</p>
                        <p><span><i class="fas fa-location-arrow a-icons"></i></span> From World</p>
                        <p><span><i class="fa fa-envelope a-icons" aria-hidden="true"></i> 0xgirl@protonmail.com</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center text-light">
                        <p class="lead">Sosyal Medya</p>
                        <p style="font-size: 25px; margin-left:7px;">
                            <a href=""><i class="fa fa-facebook-square a-icons" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter-square a-icons" aria-hidden="true"></i></a>
                            <a href=""><i class="fab fa-linkedin a-icons" aria-hidden="true"></i></a>
                            <a href=""><i class="fab fa-hackerrank a-icons" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 text-light text-center">
                    <p class="text-light">Tüm hakları saklıdır. 2020 <span><i class="fa fa-copyright" style="font-size: 12px;" aria-hidden="true"></i></span></p>
                </div>
            </div>
        </div>
    </div>
</footer>