{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to 0xGirl's Blog </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">-->
    <script src="https://kit.fontawesome.com/6863a02a55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <!--header begin-->
    {% include 'structure/header.html' %}
    <!--header end-->

    <main>
        {% block content %} {% endblock %}
    </main>

    <!--Footer begin-->
    {% include 'structure/footer.html' %}
    <!--Footer end-->

    
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!--ck editor full width-->
    <script>
        $(document).ready(function () {
            $(".django-ckeditor-widget").css("width", "100%")
         });
    </script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>
</html>